<%- include ('partials/head') %> <%- include ('partials/navbar') %>

<div class="container entry-form">
  <div
    class="row justify-content-center align-items-center"
    style="height: 30vh"
  >
    <div class="col-12 col-md-10">
      <div class="col-12 col-md-10">
        <h2>Upload Auction List</h2>

        <form
          class="entry-form-container"
          action="/admin-page2"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="upload">Select file in csv format:</label><br />
          <input type="file" name="file" />
          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>
</div>
