<%- include ('partials/head') %> <%- include ('partials/navbar') %>

<main>
  <br />

  <div class="container-fluid sign-up">
    <div
      class="row justify-content-center align-items-center"
      style="height: 30vh"
    >
      <div class="col-12 col-md-10">
        <form
          class="entry-form-container"
          style="background-color: rgba(211, 211, 211, 0.25)"
          action="/signup"
          method="POST"
        >
          <h2>You are not registered; please sign up</h2>

          <div class="row justify-content-end">
            <div class="col-12">
              <button
                type="button"
                class="btn btn-secondary"
                onclick="history.back()"
              >
                Go Back
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
