html,
body {
  width: 100%;
  height: 100%;
}

.entry-form {
  padding-top: 50px;
}

#entry-form-body {
  height: 100vh;
}

.entry-pagej {
  background-color: transparent;
}

.entry-form-container {
  margin-bottom: 30px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  /* box-shadow: 0 0 10px 0 black; */
  border: solid black 1px;
}

#single-note-text {
  overflow: auto;
  margin-bottom: 30px;
  background: black;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 black;
}

.with-heading {
  height: 100vh;
}

.welcome {
  background: url("jfp-1.jpeg") no-repeat center center fixed;
  background-size: cover;
}
